doctype html
html
	head
		title= location+" - iCanGO"
		link(rel="stylesheet",type="text/css",href="css/style.css")
		link(rel="stylesheet",href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
		script(src="https://code.jquery.com/jquery-3.3.1.min.js",integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=",crossorigin="anonymous")
		script.
			$(function(){
				$('form').submit(function(){
					event.preventDefault();
					event.stopPropagation();
					$('.item[data-id=2]').addClass('hide');
				});
			});
	body
		nav
			.logo= "@"+location
			form.searchbar
				input(type="text",placeholder="Filter ...",name="search")
				button(type="submit") Filter
			br
		.result
			each i in data
				.item(onclick="window.location='/route/%d/%s';"%(i.id,i.title),data-id=i.id)
					.inside
						.top
							.profile-pic(style="background-image:url('"+i.profile+"')")
							.right
								.owner= i.owner
								.title
									.overlay-btm= i.title
									.overlay-top= i.title
						.rating
							.overlay-btm ★★★★★
							.overlay-top(style="width:%.1f%%"%(i.rating)) ★★★★★
					.route(style="background-image:url('"+i.route_img+"')")
